.Weather{
    border: 2px solid rgb(23, 28, 90);
    font-family: Arial, sans-serif;
    color:black;
    border-radius: 4px;
    padding: 16px;
    background-color:#bef6e2;

}
.Weather h1{ 
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    margin:20px 0 0 0;
    font: bolder;
}

.Weather ul{
  margin: 0;
  padding: 0;
}

.Weather li{
  font-size:16px;
  font-weight: 100;
  line-height: 19;
  list-style: none;
   color:black;
}
.Weather .temperature{
  font-weight:bolder;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather canvas {
  margin: 10px auto;
  display: inline-block;
  margin-top: 5px;
}

.Weather unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
